{% extends "webuserbase.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} 电影池 {% endblock title %}
{% block head %}
    <link href="{% static 'movie/css/index.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <script src="{% static 'movie/js/movies.js' %}"></script>
{% endblock head %}

{% block page_content %}
    <div id="mainbody" class="moviebody">
        <div class="container">
            <div class="row">
                <div class="col-md-2" id="siderbar">
                    <div class="sidebar">
                        <div>
                            <div class="sidebar_cell_title">类型</div>
                            <ul class="movieList_tab">
                                <li><a href="?filtertype=style&filterparam=剧情">剧情</a></li>
                                <li><a href="?filtertype=style&filterparam=动作">动作</a></li>
                                <li><a href="?filtertype=style&filterparam=爱情">爱情</a></li>
                                <li><a href="?filtertype=style&filterparam=悬疑">悬疑</a></li>
                                <li><a href="?filtertype=style&filterparam=恐怖">恐怖</a></li>
                                <li><a href="?filtertype=style&filterparam=犯罪">犯罪</a></li>
                                <li><a href="?filtertype=style&filterparam=惊悚">惊悚</a></li>
                                <li><a href="?filtertype=style&filterparam=战争">战争</a></li>
                                <li><a href="?filtertype=style&filterparam=喜剧">喜剧</a></li>
                                <li><a href="?filtertype=style&filterparam=科幻">科幻</a></li>
                                <li><a href="?filtertype=style&filterparam=动画">动画</a></li>
                                <li><a href="?filtertype=style&filterparam=纪录片">纪录片</a></li>
                                <li><a href="?filtertype=style&filterparam=历史">历史</a></li>
                                <li><a href="?filtertype=style&filterparam=情色">情色</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="sidebar_cell_title">地区</div>
                            <div class="sidebar_cell_list">
                                <ul class="movieList_tab">
                                    <li><a href="?filtertype=area&filterparam=中国">内地</a></li>
                                    <li><a href="?filtertype=area&filterparam=香港">香港</a></li>
                                    <li><a href="?filtertype=area&filterparam=台湾">台湾</a></li>
                                    <li><a href="?filtertype=area&filterparam=美国">美国</a></li>
                                    <li><a href="?filtertype=area&filterparam=日本">日本</a></li>
                                    <li><a href="?filtertype=area&filterparam=韩国">韩国</a></li>
                                    <li><a href="?filtertype=area&filterparam=英国">英国</a></li>
                                    <li><a href="?filtertype=area&filterparam=德国">德国</a></li>
                                    <li><a href="?filtertype=area&filterparam=法国">法国</a></li>
                                    <li><a href="?filtertype=area&filterparam=泰国">泰国</a></li>
                                    <li><a href="?filtertype=area&filterparam=印度">印度</a></li>
                                    <li><a href="?filtertype=area&filterparam=意大利">意大利</a></li>
                                    <li><a href="?filtertype=area&filterparam=瑞典">瑞典</a></li>
                                    <li><a href="?filtertype=area&filterparam=其它">其它</a></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="sidebar_cell_title">时间</div>
                            <div class="sidebar_cell_list">
                                <a href="?filtertype=year&filterparam=2017">2017</a>
                                <a href="?filtertype=year&filterparam=2016">2016</a>
                                <a href="?filtertype=year&filterparam=2015">2015</a>
                                <a href="?filtertype=year&filterparam=2014">2014</a>
                                <a href="?filtertype=year&filterparam=2013">2013</a>
                                <a href="?filtertype=year&filterparam=2012">2012</a>
                                <a href="?filtertype=year&filterparam=2011">2011</a>
                                <a href="?filtertype=year&filterparam=2010">2010</a>
                                <a href="?filtertype=year&filterparam=2009">2009</a>
                                <a href="?filtertype=year&filterparam=2008">2008</a>
                                <a href="?filtertype=year&filterparam=2007">2007</a>
                                <a href="?filtertype=year&filterparam=2006">2006</a>
                                <a href="?filtertype=year&filterparam=2005">2005</a>
                                <a href="?filtertype=year&filterparam=2004">2004</a>
                                <a href="?filtertype=year&filterparam=2003">2003</a>
                                <a href="?filtertype=year&filterparam=20">其它</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="movieList">
                        <ul class="movieList_tab">
                            <li {% if type == 'suggest' %} class="current" {% endif %}>
                                <a href="{% url 'movie:getmovielist' %}"> {% trans '推荐' %}</a></li>
                            <li {% if type == 'festival' %} class="current" {% endif %} >
                                <a href="{% url 'movie:getfilmfestlist' %}">电影节</a></li>
                            <li {% if type == 'latest' %} class="current" {% endif %}>
                                <a href="{% url 'movie:getlatestmovielist' %}">最新</a></li>
                        </ul>

                        <ul class="movieTab_con">
                            <!--选项卡切换之最新-->
                            <li class="current">
                               <div class="movieList_con row">
                                    {% for movie in movielist %}
                                    <div class="col-md-4">
                                        <div class="movieList_con_cell">
                                            <div class="thumbnail movieList_con_cell_info">
                                                <span class="glyphicon glyphicon-star havesee"></span>
                                                <div class="post-thumbnail">
                                                <a href="{{ movie.douban_link }}" class="inimg" target="_blank" title="{{ movie.movie_name }}">
                                                    <img src="{{ movie.image }}" alt="{{ movie.movie_name }}"/>
                                                </a>
                                                    <div class="img_title" style="display:none">
                                                        <small class="imdbscore">{{ movie.style }}</small><br>
                                                        <small class="imdbscore">{{ movie.dateyear }}</small>
                                                    </div>
                                                </div>
                                                <div class="caption movie-info">
                                                    <ul class="title"><a href="http://baike.baidu.com/item/{{ movie.movie_name }}">{{ movie.movie_name|slice:"13" }}</a></ul>
                                                    <ul>
                                                        {% if movie.movie_address %}
                                                        <a href="{{ movie.movie_address }}" target="_blank" class="btn btn-primary btn-sm btn-movie" role="button" id="{{ movie.id }}">播放</a>
                                                        {% endif %}
                                                        {% if movie.download_link %}
                                                        <a href="{{ movie.download_link }}" target="_blank" class="btn btn-primary btn-sm" role="button">下载</a>
                                                        {% endif %}
                                                    </ul>
                                                    <ul class="title">
                                                        <li>
                                                            {% ifequal movie.country '' %}top250{% endifequal %}{{ movie.country }}<br>
                                                            <span class="wpfp-span">豆瓣评分:{{ movie.douban_score }}</span>
                                                        </li>                                          
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   {% endfor %}
                                </div>
                            </li>
                            <!--选项卡切换之最热-->
                            <li>
                            </li>
                            <!--最新电影结束-->
                        </ul>
                        <!--分页符开始-->
                        <nav class="movieList_page">
                            <!--前一页存在返回True-->
                            {% if movielist.has_previous %}
                                <a href="?page={{ movielist.previous_page_number }}&filtertype={{ filtertype }}&filterparam={{ filterparam }}" title="上一页">上一页</a>&nbsp;
                            {% endif %}
                            {% for p in page_range %}
                                {% ifequal p movielist.number %}
                                <span>{{ p }}</span>
                                {% else %}
                                <a href="?page={{ p }}&filtertype={{ filtertype }}&filterparam={{ filterparam }}" title="第{{ p }}页">{{p}}</a>
                                {% endifequal %}
                            {% endfor %}
                            {% if movielist.has_next %}
                                <a href="?page={{ movielist.next_page_number }}&filtertype={{ filtertype }}&filterparam={{ filterparam }}" title="下一页">下一页</a>
                            {% endif %}
                        </nav>
                        <!--分页符结束-->
                    </div>           
                </div>

                <!--排行榜开始-->
                <div class="col-md-2">
                    <div class="rankBar">
                        <h5 class="rankBar_title">
                            热播电影
                        </h5>
                        <ul class="rankBar_list">
                            <li><a target="_blank" href="">美人鱼</a></li>
                            <li><a target="_blank" href="">功夫熊猫3</a></li>
                            <li><a target="_blank" href="">叶问3</a></li>
                            <li><a target="_blank" href="">西游记之三打白骨精</a></li>
                            <li><a target="_blank" href="">星球大战7</a></li>
                            <li><a target="_blank" href="">唐人街探案</a></li>
                        </ul>
                    </div>
                    <div class="rankBar">
                        <h5 class="rankBar_title">
                            本周口碑榜
                        </h5>
                        <ul class="rankBar_list">
                            {% for sidemovie in imdbmovie_list %}
                            <li class="sider-movie"><a href="{{ sidemovie.movie_address }}" target="_blank" >{{ sidemovie.movie_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="rankBar">
                        <h5 class="rankBar_title">
                            北美票房榜
                        </h5>
                        <ul class="rankBar_list">
                            {% for usamovie in usamovie_list %}
                            <li class="sider-movie"><a href="{{ usamovie.movie_address }}" target="_blank">{{ usamovie.movie_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--排行榜结束-->
            </div>
        </div>
    </div>
{% endblock page_content %}


 