{% extends "base.html" %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category" style="color:#000000">{{ post.category.name }}</span>
                    <span class="post-date" style="color:black"><time class="entry-date"
                                                                datetime="{{ post.create_time }}">{{ post.create_time }}</time></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link" style="color:black">{{ post.comment_set.count }} 评论</span>
                    <span class="views-count" style="color:black">{{ post.views }} 阅读</span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章!</div>
    {% endfor %}    

    {% if is_paginated %}
        <ul id="pagination-flickr">
            <li class="next"><a href="?page={{ previous_page }}">上一页</a></li>
            {% if first %}
                <!-- 判断是否显示第一页的页码号 -->
                <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <!-- 判断是否显示第一页前的省略号 -->
                    <li>... &nbsp</li>
                {% endif %}
                {% for i in left %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
            {% endif %}
            <!-- 当前页用红色标记 -->
            <li class="active">{{ page_obj.number }}</li>
            {% if right %}
                {% for i in right %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if right_has_more %}
                    <!-- 判断是否显示最后一页前的省略号 -->
                    <li>... &nbsp</li>
                {% endif %}
            {% endif %}
            {% if last %}
                <!-- 判断是否显示最后一页的页码号 -->
                <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
            {% endif %}
            <li class="next"><a href="?page={{ next_page }}">下一页</a></li>
        </ul>
    {% endif %}
{% endblock main %}
    
