{% extends "base.html" %}

{% block main %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category" style="color:black">{{ post.category.name }}</span>
                    <span class="post-date" style="color:black"><time class="entry-date"
                                                                datetime="{{ post.create_time }}">{{ post.create_time }}</time></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link" style="color:black">{{ post.comment_set.count }} 评论</span>
                    <span class="views-count" style="color:black">588 阅读</span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章!</div>
    {% endfor %}    

        <!-- 简单分页效果
        <div class="pagination-simple">
            <a href="#">上一页</a>
            <span class="current">第 6 页 / 共 11 页</span>
            <a href="#">下一页</a>
        </div>
        -->
        <div class="pagination">
            {% if post_list.has_previous %}
                <!-- 如果当前页还有上一页,显示一个上一页的按钮 -->
                <a href="?page={{ post_list.previous_page_number }}">上一页</a>
            {% endif %}
            <span class="current">
                <!-- 显示当前页面信息 -->
                第 {{ post_list.number }} 页 / 共 {{ post_list.paginator.num_pages }} 页
            </span>
            {% if post_list.has_next %}
                <!-- 如果当前页还有下一页,显示一个下一页的按钮 -->
                <a href="?page={{ post_list.next_page_number }}">下一页</a>
            {% endif %}
        </div>
{% endblock main %}
    
